{% extends "layout.html" %}

{% block title %}
    <title>Home - Welcome to CS50 book reviews.</title>
{% endblock %}

{% block banner %}
  <h1>This is CS50w - Project 1</h1>
  <p>A book review application using Flask</p>
{% endblock %}

{% block body %}
      <h2>CS50 book review</h2>
      <h5>Welcome, you need to register to have full functionality.</h5>
      <p></p>
      <p>This project uses an internal Postgres database, Python, FLASK, Bootstrap4, Jinja2 and the Goodreads API.</p>
      <p>You can search for books and leave your review.</p>
{% endblock %}

